<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Actualizar clientes</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="updateClient( fUpdateC )" #fUpdateC="ngForm">     
    <ion-item>
      <ion-label position="stacked">Razon Social</ion-label>
      <ion-input type="text" placeholder="Ingrese el nombre de la empresa" name="rs" [(ngModel)]="customer.rs" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input type="number" placeholder="Ingrese el rut" name="rut" [(ngModel)]="customer.rut" required></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" placeholder="Ingrese el correo" name="email" [(ngModel)]="customer.email" required></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input type="text" placeholder="Ingrese la direccion" name="address" [(ngModel)]="customer.address" required></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input type="number" placeholder="Ingrese el telefono" name="phone" [(ngModel)]="customer.phone" required></ion-input>
    </ion-item>  
    <ion-button  type="submit" expand="block">Modificar</ion-button>
    <ion-button  type="button" expand="block" (click)="deleteClient()">Eliminar</ion-button>
 </form> 

</ion-content>
