<ion-header>
  <ion-toolbar  class="ion-text-center">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="custormer-register"></ion-back-button>
    </ion-buttons> -->
    <div>
      <ion-title class="title-color main-title"> Cliente</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p>{{customer.rs}} </p>
          <p>{{customer.email}}</p>
          <p>{{customer.address}}</p>
          <p>{{customer.phone}}</p>
          <p>{{customer.rut}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button  type="button" expand="block"  class="ion-no-margin" [disabled]="loadingDelete" (click)="showAlert()" >Eliminar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button  type="submit" expand="block" class="ion-no-margin" [disabled]="loadingUpdate" (click)="goToUpdate(customer)">Modificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-footer>