<ion-header>
  <ion-toolbar  class="ion-text-center">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="custormer-register"></ion-back-button>
    </ion-buttons> -->
    <div>
      <ion-title class="title-color main-title"> Cliente</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>

    <div class="column">
      <!-- <div class="container-image">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div> -->
      <div class="container-text">
        <div class="line">
          <!-- <b>Nombre: </b> -->
          <h2>{{customer.rs | titlecase}} </h2>
        </div>
        <div class="line">
          <b>Correo: </b>
          <p>{{customer.email}}</p>
        </div>

        <div class="line">
          <b>Dirección: </b>
          <p>{{customer.address}}</p>
        </div>
        <div class="line">
          <b>Contacto: </b>
          <p>{{customer.phone}}</p>
        </div>
        <div class="line">
          <b>Rut: </b>
          <p>{{customer.rut}}</p>
        </div>
        <div class="line">
          <b>Fecha creación: </b>
          <p>{{customer.createdAt | date: 'dd/MM/yyyy'}}</p>
        </div>
        <br>
        <div class="line">

        </div>
      </div>


    </div>

    <!-- <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p>{{customer.rs}} </p>
          <p>{{customer.email}}</p>
          <p>{{customer.address}}</p>
          <p>{{customer.phone}}</p>
          <p>{{customer.rut}}</p>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button  type="button" expand="block"  class="ion-no-margin" [disabled]="loadingDelete" (click)="showAlert()" >Eliminar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button  type="submit" expand="block" class="ion-no-margin" [disabled]="loadingUpdate" (click)="goToUpdate(customer)">Modificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-footer>