<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Registro de Clientes</ion-title>
    </div> 
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button id="modal-customer" expand="block">Registrar</ion-button>
  <!--<ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-row>
          <ion-col>
            <ion-label>belkys</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>lopez</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>12.111.234-5</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>b@gmail.com</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>puente alto</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>+56 987655434</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>-->

  <ion-card  *ngFor="let customer of customers; let i = index"  (click)="goToUpdate()">
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>{{customer.email}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-modal trigger="modal-customer" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Registro de cliente</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form (ngSubmit)="registerClient( fRegisterC )" #fRegisterC="ngForm">     
          <ion-item>
            <ion-label position="stacked">Razon Social</ion-label>
            <ion-input type="text" placeholder="Ingrese el nombre de la empresa" name="rs" [(ngModel)]="registerCliente.rs" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Rut</ion-label>
            <ion-input type="number" placeholder="Ingrese el rut" name="rut" [(ngModel)]="registerCliente.rut" required></ion-input>
          </ion-item>  
          <ion-item>
            <ion-label position="stacked">Correo</ion-label>
            <ion-input type="email" placeholder="Ingrese el correo" name="correo" [(ngModel)]="registerCliente.email" required></ion-input>
          </ion-item>    
          <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input type="text" placeholder="Ingrese la direccion" name="rut" [(ngModel)]="registerCliente.address" required></ion-input>
          </ion-item>    
          <ion-item>
            <ion-label position="stacked">Teléfono</ion-label>
            <ion-input type="number" placeholder="Ingrese el telefono" name="telefono" [(ngModel)]="registerCliente.phone" required></ion-input>
          </ion-item>  
          <ion-button  type="submit" expand="block">Registrar</ion-button> 
       </form> 
     </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

 <!--<ion-content>
  <ng-container>
   <form (ngSubmit)="registerClient( fRegisterC )" #fRegisterC="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Razon Social </ion-label>
          </ion-col>
          <ion-col>
            <ion-input 
                name="nombre" type="text" 
                [(ngModel)]="registerCliente.rs"
                placeholder="Ingrese el nombre"
                required >
            </ion-input>
          </ion-col>
        </ion-row>
       <ion-row>
          <ion-col>
            <ion-label>Correo </ion-label>
          </ion-col>
          <ion-col>
            <ion-input 
                name="correo" type="email" 
                [(ngModel)]="registerCliente.email"
                placeholder="Ingrese el correo"
                required >
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Rut </ion-label>
          </ion-col>
          <ion-col>
            <ion-input 
                name="rut" type="number" 
                [(ngModel)]="registerCliente.rut"
                placeholder="Ingrese el rut"
                required >
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Dirección </ion-label>
          </ion-col>
          <ion-col>
            <ion-input 
                name="direccion" type="text" 
                [(ngModel)]="registerCliente.address"
                placeholder="Ingrese la direccion"
                required >
            </ion-input>
          </ion-col>
        </ion-row>   
        <ion-row>
          <ion-col>
            <ion-label>Telefono </ion-label>
          </ion-col>
          <ion-col>
            <ion-input 
                name="telefono" type="number" 
                [(ngModel)]="registerCliente.phone"
                placeholder="Ingrese el telefono"
                required >
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-button type="submit" expand="block">Registrar Cliente</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-button 
               (click)="getClient(id)"  expand="block">getClient
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-button 
               (click)="getAllClient()"  expand="block">getAllClient
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-button 
               (click)="updateClient(id)"  expand="block">updateClient
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-button 
               (click)="deleteClient(id)"  expand="block">deleteClient
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>
</ion-content>-->

