  .ion-icon{
    width: 25px;
    height: 25px;
  }

  .mt{
    margin-top: 35px;
  }
  
  .mlt{
    margin-left: 50px;
    margin-top: 10px;
  }

  
ion-title.main-title {
  padding: 0px 0px 0px 10px;
}

.container-image{
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  min-height: 60px;
}
.container-text{
  width: 100%;
  // margin-top: 10px;
}

.line{
  margin: 5px 0px;
  display: flex;
  p{
    margin: 0px 5px;
  }
}

.column{
  display: flex;
  margin: 8px;
}

ion-card{
  margin: 8px;
}