<ion-header>
  <ion-toolbar class="ion-text-center">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/customer-register"></ion-back-button>
    </ion-buttons> -->
   <div>
    <ion-title class=" main-title"> Clientes</ion-title>
   </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card *ngIf="customers.length <= 0 && !loadingcustomers" >
    <p class="ion-text-center">Sin clientes registrados</p>
  </ion-card>

  <ng-template ngFor let-customer [ngForOf]="customers" >
    <ion-card  *ngIf="customer.disabled == false">
      <ion-grid (click)="goToDetail(customer)">
        <ion-row>
          <ion-col size="8">
              <p>{{customer.rs | titlecase}}</p>
              <p>{{customer.email}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <ion-modal trigger="modal-customer" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div>
            <ion-title>Registro de cliente</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>  
      <ion-content class="ion-padding">
        <form  #fRegisterC="ngForm" [formGroup]="clienteForm" (ngSubmit)="registerClient( fRegisterC )" novalidate>   
          <ion-list lines="full" class="ion-no-margin ion-no-padding">  
            <ion-item  class="roundedInput">
              <ion-label position="floating">Correo  <ion-text color="danger">*</ion-text> </ion-label>
              <ion-input formControlName="email" type="email" placeholder="Ingrese el correo" name="email" email="true" [(ngModel)]="registerCliente.email" required></ion-input>
            </ion-item> 
            <ion-item  class="roundedInput">
              <ion-label position="floating">Dirección  <ion-text color="danger">*</ion-text> </ion-label>
              <ion-input formControlName="address" type="text" placeholder="Ingrese la direccion" name="address" [(ngModel)]="registerCliente.address" required></ion-input>
            </ion-item>   
            <ion-item  class="roundedInput">
              <ion-label position="floating">Razón Social  <ion-text color="danger">*</ion-text> </ion-label>
              <ion-input formControlName="rs" type="text" placeholder="Ingrese el nombre de la empresa" name="rs" [(ngModel)]="registerCliente.rs" required></ion-input>
            </ion-item>
            <ion-item  class="roundedInput">
              <ion-label position="floating">Teléfono  <ion-text color="danger">*</ion-text> </ion-label>
              <ion-input formControlName="phone" type="number" placeholder="Ingrese el telefono" name="phone" [(ngModel)]="registerCliente.phone" required></ion-input>
            </ion-item>
            <ion-item  class="roundedInput">
              <ion-label position="floating">Rut  <ion-text color="danger">*</ion-text> </ion-label>
              <ion-input simpleMask="99.999.999-9" formControlName="rut" placeholder="Ingrese el rut" name="rut" [(ngModel)]="registerCliente.rut" required></ion-input>
            </ion-item> 
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-button type="submit" class="ion-no-margin" expand="block" [disabled]="!fRegisterC.valid || loading">
                      Registrar
                      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
                    </ion-button> 
                </ion-col>
                <ion-col>
                    <ion-button expand="block" class="ion-no-margin" (click)="cancel()">Cancelar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid> 
        </ion-list> 
       </form> 
       <div class="ion-text-center">
        <ion-label position="floating">
            <ion-text color="danger">*</ion-text> campos obligatorios
        </ion-label>
      </div>
     </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>


<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button id="modal-customer" expand="block">Registrar</ion-button>
  </ion-toolbar>
</ion-footer>