<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product-registration"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Actualizar</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="updateProduct( fupdaterP )" #fupdaterP="ngForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="roundedInput">
        <ion-label position="floating">Nombre Producto  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" placeholder="Ingrese el nombre" name="nombre" [(ngModel)]="product.name" required></ion-input>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-label position="floating">Descripción  <ion-text color="danger">*</ion-text> </ion-label>
        <ion-input type="text" placeholder="Ingrese la descripcion" name="descripcion" [(ngModel)]="product.description" required></ion-input>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-label position="floating">Precio  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" placeholder="Ingrese el correo" name="precio" [(ngModel)]="product.price" required></ion-input>
      </ion-item> 
      <ion-row>
        <ion-col size="8">
          <ion-card class="aling-center">
            <img src="{{ url + '/get-image-product/' + product.image }}" class="img-product" *ngIf="product.image != 'null'">
            <img src="../../assets/img/product_not.png" class="img-product" *ngIf="product.image == 'null'">
          </ion-card>
        </ion-col>
        <ion-col size="4" class="mt-15">
          <ion-row>
            <div class="aling-center">
              <ion-button (click)="camara(true)" expand="full" shape="round" class="color-camara">
                <ion-icon name="camera"></ion-icon>
              </ion-button>
          </div>
          </ion-row>
          <ion-row>
            <div class="aling-center">
              <ion-button (click)="camara(false)" expand="full" shape="round" class="color-camara">
                <ion-icon name="images"></ion-icon>
              </ion-button>
            </div>
          </ion-row>
         </ion-col> 
      </ion-row>
      <div class="ion-text-center top">
        <ion-label position="floating">
            <ion-text color="danger">*</ion-text> campos obligatorios
        </ion-label>
      </div>   
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button  type="submit" expand="block" class="ion-no-margin" [disabled]="!fupdaterP.valid || loading">
              Modificar
              <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button  type="button" expand="block" class="ion-no-margin" (click)="showAlert()">Eliminar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
 
    </ion-list>
  </form>  

</ion-content>
