.top{
    margin-top: 10px;
}

.img-product{
    width:80px;
    height:100px;
}

.aling-center{
   text-align: center;
}

.color-camara{
    --background: #464647;
}

.mt-15{
    margin-top: 15px;
}

ion-title{
    padding: 0px 50px 0px 0px;
}