<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="logo">
          <ion-img src="../../assets/img/logo-ferroca.jpeg"></ion-img>
        </div>  
      </ion-col>  
    </ion-row> 
  </ion-grid>
  
  <ng-container >
    <form [formGroup]="loginForm" (ngSubmit)="login( fLogin )" #fLogin="ngForm" novalidate>
      <ng-container>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input 
                        formControlName="email"
                        name="email" type="email" 
                        [(ngModel)]="loginUser.email"
                        placeholder="Ingrese el correo"
                        required >
                </ion-input>
              </ion-item> 
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
              <ion-item>
                <ion-label position="floating">Clave</ion-label>
                <ion-input
                        formControlName="password"
                        name="password" type="password" 
                        [(ngModel)]="loginUser.password" 
                        placeholder="Ingresa tu clave" maxlength="30"
                        required>
                </ion-input> 
              </ion-item>    
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
            <!-- [disable]="loginForm.valid && !loading"        [disabled]="(!selectedAddress || selectedAddress === '')"  -->          
            <ion-button [disabled]="!loginForm.valid"
               (click)="login" type="submit" expand="block">Iniciar sesión
              </ion-button>
              <ion-spiner name="crescent" *ngIf="!loading" class="spinner-aling-end"></ion-spiner>
          </ion-col>
        </ion-row>
      </ng-container>
    </form>
  </ng-container>

</ion-content>