ion-row > ion-col {
    font-size: 13px;
}

ion-badge{
padding: 4px 10px 6px 10px;
margin: 10px 5px 5px 0px ;
}

ion-card{
    margin: 10px;
}

.total{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.line{
    margin-left: 3px;
    display: flex;
    margin-bottom: 8px;
    // justify-content: center;
    p{
        margin: 0px 5px;
    }
}

b, p {
    color: black;
}
