<ion-header>
  <ion-toolbar>
    <div>
      <ion-title> Listado de ordenes </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
-->


  <ion-list *ngFor="let order of orders; let i = index">
    <ion-item>
      <ion-label>
        <h3><b>N° {{i + 1}}</b> </h3>
        <h4>Dirección: {{order.address}}</h4>
        <p> Total: {{order.total}} | {{ order.user.name }} {{ order.user.surname }} | Estado: Ingresado</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>