<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Registro de Productos </ion-title>
    </div>  
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <ion-button id="modal-product" expand="block">Registrar</ion-button>
  <ion-card  *ngFor="let product of products; let i = index"   (click)="goToUpdate(product)" >
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label>{{product.name}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-modal trigger="modal-product" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Registro de productos</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="productForm" (ngSubmit)="registerProduct( fRegisterP )" #fRegisterP="ngForm">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked">Nombre Producto <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="nombre" type="text" placeholder="Ingrese el nombre" name="nombre" [(ngModel)]="registerProducto.name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Descripción <ion-text color="danger">*</ion-text> </ion-label>
              <ion-input formControlName="descripcion" type="text" placeholder="Ingrese la descripcion" name="descripcion" [(ngModel)]="registerProducto.description" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Precio <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="precio" type="number" placeholder="Ingrese el correo" name="precio" [(ngModel)]="registerProducto.price" required></ion-input>
            </ion-item> 
            <div class="ion-padding">  
              <ion-button  type="submit" expand="block" [disabled]="!fRegisterP.valid">Registrar</ion-button> 
            </div>
          </ion-list> 

        <div class="ion-text-center">
          <ion-label position="floating">
              <ion-text color="danger">*</ion-text> campos obligatorios
          </ion-label>
        </div> 

        <ion-row>
          <ion-col  size="3"  *ngFor="let img of tempImages ">
            <ion-card>
              <img width="80" height="80" [src]="image">
            </ion-card>  
          </ion-col>
        </ion-row>  
        <ion-card>

          <ion-label>Imagen del producto </ion-label>
          <ion-row>
            <ion-col  size="6" >
                <ion-button 
                 (click)="camara()" expand="full" shape="round" >
                 <ion-icon slot="start" name="camera"></ion-icon>
                 Camara
                </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button 
               (click)="galeria()" expand="full" shape="round">
               <ion-icon slot="start" name="images"></ion-icon>
               Galeria
              </ion-button>
             </ion-col>
          </ion-row>
        </ion-card> 
      </form>   
    </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<!--<ion-content>
    <ng-container>
      <form (ngSubmit)="registerProduct( fRegisterP )" #fRegister="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Nombre Producto</ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="nombre" type="text" 
                  [(ngModel)]="registerProducto.name"
                  placeholder="Ingrese el nombre"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Descripción </ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="descripcion" type="text" 
                  [(ngModel)]="registerProducto.description"
                  placeholder="Ingrese la descripcion del producto"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Cantidad </ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="cantidad" type="password" 
                  [(ngModel)]="registerProducto.cantidad"
                  placeholder="Ingrese la cantidad"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Precio </ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="precio" type="number" 
                  [(ngModel)]="registerProducto.price"
                  placeholder="Ingrese el precio"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>  

          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button  type="submit" expand="block">Registrar Producto</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="getProduct(id)"  expand="block">getProduct
                </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="getAllProduct()"  expand="block">getAllProduct
                </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="updateProduct(id)"  expand="block">updateProduct
                </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="deleteProduct(id)"  expand="block">deleteProduct
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>  
    </ng-container>
  </ion-content>-->
