<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>Productos </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="!products">
    <p class="ion-text-center">Sin productos registrados</p>
  </ion-card>

  <ng-template ngFor let-product [ngForOf]="products">
    <ion-card *ngIf="product.disabled == false">
      <ion-grid (click)=" goToUpdate(product)">
        <ion-row>
          <ion-col size="3">
            <img src="{{ url + '/get-image-product/' + product.image }}" width="80" *ngIf="product.image != 'null'">
            <img src="../../assets/img/product_not.png" *ngIf="product.image == 'null'">
          </ion-col>
          <ion-col size="9">
            <p>{{product.name}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <ion-modal trigger="modal-product">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div>
            <ion-title>Registro de productos</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="productForm" (ngSubmit)="registerProduct()" #fRegisterP="ngForm">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item class="roundedInput">
              <ion-label position="floating">Nombre Producto <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="nombre" type="text" placeholder="Ingrese el nombre" name="nombre"
                [(ngModel)]="registerProducto.name" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Descripción <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="descripcion" type="text" placeholder="Ingrese la descripcion"
                name="descripcion" [(ngModel)]="registerProducto.description" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Precio <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="precio" type="number" placeholder="Ingrese el precio" name="precio"
                [(ngModel)]="registerProducto.price" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Stock <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="stock" type="number" placeholder="Ingrese el Stock" name="stock"
                [(ngModel)]="registerProducto.stock" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col size="8">
              <ion-card class="aling-center">
                <img [src]="image" class="img-product" *ngIf="registerProducto?.image">
              </ion-card>
            </ion-col>
            <ion-col size="4" class="mt-15">
              <ion-row>
                <div class="aling-center">
                  <ion-button (click)="camara(true)" expand="full" shape="round" class="color-camara">
                    <ion-icon name="camera"></ion-icon>
                  </ion-button>
                </div>
              </ion-row>
              <ion-row>
                <div class="aling-center">
                  <ion-button (click)="camara(false)" expand="full" shape="round" class="color-camara">
                    <ion-icon name="images"></ion-icon>
                  </ion-button>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
          <div class="ion-text-center">
            <ion-label position="floating">
              <ion-text color="danger">*</ion-text> campos obligatorios
            </ion-label>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block" class="ion-no-margin" [disabled]="!fRegisterP.valid || loading">
                  Registrar
                  <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" class="ion-no-margin" (click)="cancel()">Cancelar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button id="modal-product" expand="block">Registrar</ion-button>
  </ion-toolbar>
</ion-footer>