<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button appBackBtn class="backBtn" color="primary">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <div>
      <ion-title> Registro de Productos </ion-title>
    </div> 
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container>
      <form (ngSubmit)="registerProduct( fRegisterP )" #fRegister="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Nombre Producto</ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="nombre" type="text" 
                  [(ngModel)]="registerProducto.name"
                  placeholder="Ingrese el nombre"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Descripción </ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="descripcion" type="text" 
                  [(ngModel)]="registerProducto.description"
                  placeholder="Ingrese la descripcion del producto"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>
          <!--<ion-row>
            <ion-col>
              <ion-label>Cantidad </ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="cantidad" type="password" 
                  [(ngModel)]="registerProducto.cantidad"
                  placeholder="Ingrese la cantidad"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>-->
          <ion-row>
            <ion-col>
              <ion-label>Precio </ion-label>
            </ion-col>
            <ion-col>
              <ion-input 
                  name="precio" type="number" 
                  [(ngModel)]="registerProducto.price"
                  placeholder="Ingrese el precio"
                  required >
              </ion-input>
            </ion-col>
          </ion-row>  

        <ion-card>
          <ion-label>Imagen del producto </ion-label>
          <ion-row>
            <ion-col  size="6" >
                <ion-button 
                 (click)="camara()" type="submit" expand="full" shape="round" >
                 <ion-icon slot="start" name="camera"></ion-icon>
                 Camara
                </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button 
               (click)="galeria()" type="submit" expand="full" shape="round">
               <ion-icon slot="start" name="images"></ion-icon>
               Galeria
              </ion-button>
             </ion-col>
          </ion-row>
        </ion-card>  

          <ion-row>
            <ion-col  size="3"  *ngFor="let image oftempImages ">
              <ion-card>
                <img [src]="image">
              </ion-card>  
            </ion-col>
          </ion-row>    

          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button  type="submit" expand="block">Registrar Producto</ion-button>
                <!--[disable]=" correo.length < 5 || clave.length < 5" -->
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="getProduct(id)"  expand="block">getProduct
                </ion-button>
                <!--[disable]=" correo.length < 5 || clave.length < 5" -->
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="getAllProduct()"  expand="block">getAllProduct
                </ion-button>
                <!--[disable]=" correo.length < 5 || clave.length < 5" -->
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="updateProduct(id)"  expand="block">updateProduct
                </ion-button>
                <!--[disable]=" correo.length < 5 || clave.length < 5" -->
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-items-center" size-md="6" size-lg="5" size-xs="12">
                <ion-button 
                 (click)="deleteProduct(id)"  expand="block">deleteProduct
                </ion-button>
                <!--[disable]=" correo.length < 5 || clave.length < 5" -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
   
    </ng-container>
  </ion-content>
