<ion-content *ngIf="order">
  <ion-header>
    <ion-toolbar class="toolbar-header">
      <ion-buttons slot="start">
        <!-- <a href="/order-list"><ion-icon name="chevron-back" size="large"></ion-icon></a> -->
        <ion-back-button defaultHref="order-list"></ion-back-button>
      </ion-buttons>
      <div>
        <ion-title>N° {{order.number}}</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: left; text-transform: uppercase; color: darkgreen; padding-left: 0px;">
            <div [ngSwitch]="order?.step">
              <ion-badge *ngSwitchCase="'1'" color="warning">Ingresado</ion-badge>
              <ion-badge *ngSwitchCase="'2'" color="primary">Preparación</ion-badge>
              <ion-badge *ngSwitchCase="'3'" color="danger">Despachado</ion-badge>
              <ion-badge *ngSwitchCase="'4'" color="secondary">Entregado</ion-badge>
            </div>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.createdAt | date: 'dd/MM/yyyy, h:mm a' }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <b>Información De La Orden</b>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            Orden N°:
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order?.number ? order?.number : '0009877' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            Usuario:
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.user.name | titlecase}} {{ order.user.surname | titlecase}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            Total:
          </ion-col>
          <ion-col style="text-align: right;">
            $ {{ order?.totalOrder | number : '1.0-1' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <b>Información Despacho</b>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            Cliente:
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.customer?.rs}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            Correo:
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.customer?.email }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            Dirección:
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.address }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button expand="block" (click)="presentAlertState()" *ngIf="order?.step < '4' && order">Siguiente estado</ion-button>
    <ion-button expand="block" color="success" *ngIf="order?.step == '4' && order">Pedido Finalizado </ion-button>
  </ion-toolbar>
</ion-footer>