ion-card>ion-card-content>ion-grid>ion-row>p {
    color: rgb(27, 27, 27);
    font-weight: bold;
    font-size: 12px;
}

ion-card>ion-card-content>ion-grid>ion-row>span {
    color: rgb(27, 27, 27);
    font-size: 12px;
    margin-right: 5px;
}

ion-card>ion-card-content {
    color: rgb(27, 27, 27);
    font-size: 12px;
}

ion-icon {
    color: white;
}

ion-title {
    padding: 0px 50px 0px 0px;
}