<ion-content *ngIf="order">
  <ion-header>
    <ion-toolbar class="toolbar-header">
      <ion-buttons slot="start">
        <!-- <a href="/order-list"><ion-icon name="chevron-back" size="large"></ion-icon></a> -->
        <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
      </ion-buttons>
      <div>
        <!-- <ion-title>N° {{order.number}}</ion-title> -->
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content class="container">
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: left; text-transform: uppercase; color: darkgreen; padding-left: 0px;">
            <div [ngSwitch]="order?.step">
              <ion-badge *ngSwitchCase="'1'" color="primary">Ingresado</ion-badge>
              <ion-badge *ngSwitchCase="'2'" color="warning">Preparación</ion-badge>
              <ion-badge *ngSwitchCase="'3'" color="danger">Despachado</ion-badge>
              <ion-badge *ngSwitchCase="'4'" color="success">Entregado</ion-badge>
            </div>
          </ion-col>
          <ion-col style="text-align: right;" class="date">
            {{ order.createdAt | date: 'dd/MM/yyyy, h:mm a' }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <br>
        <ion-row>
          <h2>Información despacho</h2>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            <b>Cliente:</b>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.customer?.rs  | titlecase}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
            <b>Correo:</b>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.customer?.email }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
           <b> Dirección:</b>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.address }}
          </ion-col>
        </ion-row>
<br>
        <ion-row>
          <h2>Información de la orden</h2>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
           <b> Usuario:</b>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.user.name | titlecase}} {{ order.user.surname | titlecase}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
           <b> Correo:</b>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.user.email }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;">
           <b> Contacto:</b>
          </ion-col>
          <ion-col style="text-align: right;">
            {{ order.user.phone }}
          </ion-col>
        </ion-row>
 <br><br>

 
        <ion-row>
          <ion-col *ngFor="let item of order.orderItems">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="{{ url + '/get-image-product/' + item.product.image }}" />
              </ion-avatar>
              <ion-label>
                <span>
                  {{ item.product.name ?? '-' | titlecase}}
                </span>
                <p class="price">Precio: ${{item.product.price | number}}</p>
                <h3>Unidades: {{ item.quantity ?? '0' }}</h3>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
<br>
        <ion-row class="total">
          <ion-col style="text-align: left;">
            <b>Total:</b>

           <b> $ {{ order?.totalOrder | number }}</b>
          </ion-col>
        </ion-row>
<br>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button expand="block" (click)="presentAlertState()" *ngIf="order?.step < '4' && order">Siguiente estado</ion-button>
    <ion-button expand="block" color="success" *ngIf="order?.step == '4' && order">Pedido Finalizado </ion-button>
  </ion-toolbar>
</ion-footer>