<ion-header>
  <ion-toolbar  class="ion-text-center">
    <div>
      <ion-title  class="main-title"> Catálogo</ion-title>
    </div> 
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" animated="true"  *ngIf="products.length >= 0" ></ion-searchbar>
    <ion-card  class="ion-padding ion-text-center"  *ngIf="products.length <= 0" size="12">
      <ion-label  class="ion-text-center">Sin productos registrados</ion-label>
    </ion-card>
    <ion-row>
      <ion-col *ngFor="let product of products | filter:searchTerm; let i = index" size="6" (click)="getProduct(product)">
        <ion-card class="product-container">
          <div class="image-container">
            <div *ngIf="isLoading">
              <!-- <ion-spinner></ion-spinner> -->
            </div>
            <img src="{{ url + '/get-image-product/' + product.image }}" *ngIf="product.image != 'null'" (load)="imageLoaded()">
            <img src="../../assets/img/product_not.png" *ngIf="product.image == 'null'">
          </div>
          <ion-card-header class="product-text">
            <p class="title-header">
              Stock: <strong>{{ product.stock ? product.stock : '000' }}</strong>
            </p>
            <h3 class="title-footer truncate-text">
              {{ product.name | titlecase }}
            </h3>
            <h5>
              ${{ formatPrice(product.price | number : '1.0-2') }}
            </h5>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>