<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button appBackBtn class="backBtn" color="primary">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <div>
      <ion-title> Catalogo </ion-title>
    </div> 
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
