<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Detalle del producto </ion-title>
    </div>
        <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <!-- <ion-card class="center"> -->
    <div class="image-container">
      <img src="{{ url + '/get-image-product/' + product.image }}" *ngIf="product.image != 'null'">
      <img src="../../assets/img/product_not.png" *ngIf="product.image == 'null'">
    </div>

  <!-- </ion-card> -->
  <ion-card>
    <ion-card-header>
        <b class="product-name">{{ product?.name | titlecase }}</b>
        <p class="code">
          Código : {{ product._id }}
        </p>
        <br>
        <p class="code">Stock: {{ product?.stock }}</p>
      <ion-card-title>
        <b>$ {{ formatPoint(product?.price | number : '1.0-2')}}</b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="info">Información del Producto:</p>

        <p class="capitalize-first-letter">
          {{ product?.description }}
        </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button expand="block" (click)="presentAlertOrder()" *ngIf="product">Agregar a la orden</ion-button>
    <ion-button expand="block" (click)="presentAlertStock()" *ngIf="isAdmin">Agregar stock</ion-button>
  </ion-toolbar>
</ion-footer>
