<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="user-register"></ion-back-button>
    </ion-buttons> -->
    <div>
      <ion-title class="title-color"> Usuarios</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="{{ url + '/get-image-user/' + user.image}}" class="img-user" *ngIf="user.image != 'null'">
          <img src="../../assets/img/user_not.png" *ngIf="user.image == 'null'">
        </ion-col>
        <ion-col size="6">
          <p>{{user.name | titlecase}} {{user.surname | titlecase}} </p>
          <p>{{user.email}}</p>
          <p>{{user.rolNamel}}</p>
          <p>{{user.address}}</p>
          <p>{{user.phone}}</p>
          <p>{{user.rut}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button  type="button" expand="block"  class="ion-no-margin" [disabled]="loadingDelete" (click)="showAlert()" >Eliminar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button  type="submit" expand="block" class="ion-no-margin" [disabled]="loadingUpdate" (click)="goToUpdate(user)">Modificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-footer>
