<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Registro de stock </ion-title>
    </div> 
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <form (ngSubmit)="register( fRegister )" #fRegister="ngForm">
    <ion-list>
      <ion-item>
        <ion-select placeholder="Seleccione el producto">
          <ion-select-option value="apples">Tornillo 3/4</ion-select-option>
          <ion-select-option value="oranges">Martillo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <!-- [(ngModel)]="registerUser.name"-->
      <ion-input type="number" placeholder="Ingrese la cantidad" name="cantidad"  required></ion-input>
    </ion-item>
  </form>

  <!--<ion-searchbar [showCancelButton]="'focus'" [cancelButtonText]="'Cancelar'" inputmode="text" [disabled]="loading"
       placeholder="Buscar Producto">
  </ion-searchbar>-->

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button type="submit" expand="block">Guardar
            <!-- <ion-spinner name="crescent"  class="spinner-aling-end"></ion-spinner>-->
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
          <ion-button type="submit" expand="block">Cancelar
            <!-- <ion-spinner name="crescent"  class="spinner-aling-end"></ion-spinner>-->
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
