<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" color="dark">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-row>
          <ion-col size="10">
            <ion-title class="title">{{userName}}</ion-title>
          </ion-col>
          <ion-col size="2">
            <ion-icon class="size-icon" name="close" (click)="closeMenu()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header> 
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/tabs/tab2']" [replaceUrl]="true" lines="none">
            <ion-icon name="home" slot="start"   color="dark"></ion-icon>
            Catálogo
          </ion-item>
          <ion-item [routerLink]="['/user-register']" lines="none" *ngIf="isAdmin">
            <ion-icon name="person" slot="start"  color="dark"></ion-icon>
            Trabajadores
          </ion-item>
          <ion-item [routerLink]="['/customer-register']" lines="none" *ngIf="isAdmin"> 
            <ion-icon name="id-card"  slot="start"  color="dark"></ion-icon>
            Clientes
          </ion-item>
          <ion-item [routerLink]="['/product-registration']" lines="none" *ngIf="isAdmin"> 
            <ion-icon name="construct" slot="start"  color="dark"></ion-icon>
            Productos
          </ion-item>
          <ion-item [routerLink]="['/tabs/tab1']" lines="none"> 
            <ion-icon name="clipboard" slot="start"  color="dark"></ion-icon>
            Ordenes
          </ion-item> 
          <ion-item [routerLink]="['/tabs/tab3']" lines="none">
            <ion-icon name="create" slot="start"  color="dark"></ion-icon>
            Registro de Ordenes 
          </ion-item>
          <ion-item [routerLink]="['/login']" lines="none">
            <ion-icon name="exit" slot="start"  color="dark"></ion-icon>
            Cerrar Sesion
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>