<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-icon name="cog-outline"></ion-icon>
        <ion-title slot="start">{{userName ? userName : 'blopez@gmail.com'}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/tabs/tab2']" lines="none">
            <ion-icon name="home" slot="start"></ion-icon>
            Inicio
          </ion-item>
          <ion-item [routerLink]="['/user-register']" lines="none">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            Usuarios
          </ion-item>
          <ion-item [routerLink]="['/customer-register']" lines="none"> 
            <ion-icon name="people-outline" slot="start"></ion-icon>
            Clientes
          </ion-item>
          <ion-item [routerLink]="['/product-registration']" lines="none"> 
            <ion-icon name="build-outline" slot="start"></ion-icon>
            Productos
          </ion-item>
          <!-- <ion-item [routerLink]="['/inventory-record']" lines="none"> 
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            Registro de Stock 
          </ion-item> -->
          <!-- <ion-item [routerLink]="['/order-status']" lines="none">
            <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
            Estado de ordenes 
          </ion-item> -->
          <ion-item [routerLink]="['/login']" lines="none">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            Cerrar Sesion
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>