<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button  text="Volver"></ion-back-button>
    </ion-buttons> -->
    <div>
      <ion-title class="title-color"> Usuarios</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    
  <ion-card *ngIf=" !users ">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <p>Sin usuarios registrados</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngFor="let user of users; let i = index" >
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="{{ url + '/get-image-user/' + user.image}}" class="img-user" *ngIf="user.image != 'null'">
          <img src="../../assets/img/user_not.png" *ngIf="user.image == 'null'">
        </ion-col>
        <ion-col size="6">
          <p>{{user.name | titlecase}} {{user.surname | titlecase}} </p>
          <p>{{user.email}}</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="person-circle" (click)="goToUpdate(user)"></ion-icon>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="eye" (click)="goToDetail(user)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-modal trigger="modal-user">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <!-- <ion-buttons slot="start">
            <ion-button (click)="cancel()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
          </ion-buttons> -->
          <div>
            <ion-title>Registro de usuarios</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form #fRegister="ngForm" [formGroup]="registerForm" (ngSubmit)="register( fRegister )" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item class="roundedInput">
              <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="name" type="text" placeholder="Ingrese el nombre" name="name"
                [(ngModel)]="registerUser.name"></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="surname" type="text" placeholder="Ingrese el apellido" name="surname"
                [(ngModel)]="registerUser.surname" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="email" type="email" placeholder="Ingrese el correo" name="email" email="true"
                [(ngModel)]="registerUser.email" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Clave <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="password" type="password" placeholder="Ingrese la clave" name="password"
                [(ngModel)]="registerUser.password" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Dirección <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="address" type="text" placeholder="Ingrese la direccion" name="address"
                [(ngModel)]="registerUser.address" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Teléfono <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="phone" type="number" placeholder="Ingrese el telefono" name="phone"
                [(ngModel)]="registerUser.phone" required></ion-input>
            </ion-item>
            <ion-item class="roundedInput">
              <ion-label position="floating">Rut <ion-text color="danger" appRutFormat >*</ion-text>
              </ion-label>
              <ion-input formControlName="rut" type="number" placeholder="Ingrese el rut" name="rut" [attr.maxlength]="4" maxlength="8"
                [(ngModel)]="registerUser.rut" required></ion-input>
            </ion-item>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button expand="block" class="ion-no-margin" (click)="cancel()">Cancelar</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button type="submit" expand="block" class="ion-no-margin" [disabled]="!fRegister.valid">
                    Registrar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </form>
        <div class="ion-text-center">
          <ion-label position="floating">
            <ion-text color="danger">*</ion-text> campos obligatorios
          </ion-label>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button id="modal-user" expand="block">Registrar</ion-button>
  </ion-toolbar>
</ion-footer>