<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user-register"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Actualizar usuario</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

  <ion-content  class="ion-padding">
    <form (ngSubmit)="updateUser( fUpdate)" #fUpdate="ngForm">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item  class="roundedInput">
            <ion-label position="floating">Nombre  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Ingrese el nombre" name="name" [(ngModel)]="user.name" required></ion-input>
          </ion-item>
          <ion-item  class="roundedInput">
            <ion-label position="floating">Apellido  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Ingrese el apellido" name="surname" [(ngModel)]="user.surname" required></ion-input>
          </ion-item>
          <ion-item  class="roundedInput">
            <ion-label position="floating">Correo  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="email" placeholder="Ingrese el correo" name="email" email="true" [(ngModel)]="user.email" required></ion-input>
          </ion-item>   
          <ion-item  class="roundedInput">
            <ion-label position="floating">Rut  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" placeholder="Ingrese el rut" name="rut" [(ngModel)]="user.rut" required></ion-input>
          </ion-item>   
          <ion-item  class="roundedInput">
            <ion-label position="floating">Dirección  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Ingrese la direccion" name="address" [(ngModel)]="user.address" required></ion-input>
          </ion-item>    
          <ion-item  class="roundedInput">
            <ion-label position="floating">Teléfono  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" placeholder="Ingrese el telefono" name="phone" [(ngModel)]="user.phone" required></ion-input>
          </ion-item> 
          <div class="ion-text-center top">
            <ion-label position="floating">
                <ion-text color="danger">*</ion-text> campos obligatorios
            </ion-label>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-padding">
                  <ion-button  type="button" expand="block" (click)="deleteUser()" disabled>Eliminar</ion-button>
            
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-padding">
                  <ion-button  type="submit" expand="block" [disabled]="!fUpdate.valid">Modificar</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
     </ion-list> 
   </form>
</ion-content>
