<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Actualizar usuarios</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content  class="ion-padding">
    <form (ngSubmit)="updateUser( fUpdate)" #fUpdate="ngForm">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Nombre  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Ingrese el nombre" name="name" [(ngModel)]="user.name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Ingrese el apellido" name="surname" [(ngModel)]="user.surname" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Correo  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="email" placeholder="Ingrese el correo" name="email" [(ngModel)]="user.email" required></ion-input>
          </ion-item>   
          <ion-item>
            <ion-label position="stacked">Rut  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" placeholder="Ingrese el rut" name="rut" [(ngModel)]="user.rut" required></ion-input>
          </ion-item>   
          <ion-item>
            <ion-label position="stacked">Dirección  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Ingrese la direccion" name="address" [(ngModel)]="user.address" required></ion-input>
          </ion-item>    
          <ion-item>
            <ion-label position="stacked">Teléfono  <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" placeholder="Ingrese el telefono" name="phone" [(ngModel)]="user.phone" required></ion-input>
          </ion-item> 
          <div class="ion-text-center top">
            <ion-label position="floating">
                <ion-text color="danger">*</ion-text> campos obligatorios
            </ion-label>
          </div>
          <div class="ion-padding">   
            <ion-button  type="submit" expand="block" [disabled]="!fUpdate.valid">Modificar</ion-button>
            <ion-button  type="button" expand="block" (click)="deleteUser()">Eliminar</ion-button>
        </div>
     </ion-list> 
   </form>
</ion-content>
