<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <div>
      <ion-title> Actualizar usuarios</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content  class="ion-padding">
    <form (ngSubmit)="updateUser( fUpdate)" #fUpdate="ngForm">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Ingrese el nombre" name="name" [(ngModel)]="user.name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" placeholder="Ingrese el apellido" name="surname" [(ngModel)]="user.surname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email" placeholder="Ingrese el correo" name="email" [(ngModel)]="user.email" required></ion-input>
      </ion-item>  
      <!--<ion-item>
        <ion-label position="stacked">Clave</ion-label>
        <ion-input type="password" placeholder="Ingrese la clave" name="clave" [(ngModel)]="user.password" required></ion-input>
      </ion-item> -->   
      <ion-item>
        <ion-label position="stacked">Rut</ion-label>
        <ion-input type="number" placeholder="Ingrese el rut" name="rut" [(ngModel)]="user.rut" required></ion-input>
      </ion-item>   
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input type="text" placeholder="Ingrese la direccion" name="address" [(ngModel)]="user.address" required></ion-input>
      </ion-item>    
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="number" placeholder="Ingrese el telefono" name="phone" [(ngModel)]="user.phone" required></ion-input>
      </ion-item>   
      <ion-button  type="submit" expand="block">Modificar</ion-button>
      <ion-button  type="button" expand="block" (click)="deleteUser()">Eliminar</ion-button>
  </form>

</ion-content>
